---
import MainTitle from '@/components/MainTitle.astro'
import PhotoLibrary from '@/icons/PhotoLibrary.astro'
import { getI18N } from '@/locales/index'
import { getCategories } from '@/services/categories'
import CatCard from '../CatCard.astro'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const categories = getCategories(currentLocale)
---

<div class='flex w-full max-w-6xl flex-col md:w-11/12 lg:w-10/12'>
	<MainTitle>
		<PhotoLibrary class='size-8 text-accent' />
		{i18n.PORTFOLIO}
	</MainTitle>

	<div class='mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-6'>
		{
			categories.map((category, index) => (
				<div
					class={`${index % 3 === 0 ? 'fade-right-anim' : index % 3 === 1 ? 'fade-up-anim' : 'fade-left-anim'}`}
				>
					<CatCard
						id={category.id}
						name={category.name}
						image={category.image}
						description={category.description}
					/>
				</div>
			))
		}
	</div>
</div>
